/* #compare ~ #most__entrusted .title__linear__gradient {
	width: 81.73544rem;
} */
@media screen and (min-width: 640px){
	#compare ~ #most__entrusted .title__linear__gradient br{
		display: none;
	}
	#compare ~ #most__entrusted .title__linear__gradient {
		width: 73.59863rem;
		padding-bottom: 0;
	}
}
#compare ~ #most__entrusted .most__entrusted{
	margin-top: 2.22rem;
}
@media screen and (max-width: 639px){
	#compare ~ #most__entrusted .title__linear__gradient {
		width: 100%;
	}
}

