.affiliate-recruitment {
  padding-top: 5.47rem;
  padding-bottom: 5.09rem;
}
.content-affiliate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-affiliate h2 {
  text-align: center;
  color: var(--Text-Text-Oxford-Blue-100---Body, var(--12-semi, #092c4c));
  font-size: var(--font-size-H2);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 3.6rem */
  letter-spacing: 0.01563rem;
  margin-bottom: 1rem;
}
.content-affiliate span {
  text-align: center;
  color: var(--Text-Text-Oxford-Blue-87-body-text-1, rgba(9, 44, 76, 0.87));
  font-size: var(--font-size-sub2);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.4rem */
  letter-spacing: 0.01563rem;
}
/*item*/
.affiliate-recruitment .list-item-affilate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1.38rem;
  justify-content: space-between;
  margin-top: 4rem;
}

.affiliate-recruitment .item-affilate {
  padding: var(--24, 1.5rem);
  background-color: var(--text-text-oxford-blue-0);
  border-radius: var(--10, 0.625rem);
  border: 1px solid var(--color-ramp-8, rgba(9, 44, 76, 0.08));
  display: flex;
  flex-direction: column;
  align-items: flex-start;  cursor: pointer;
  min-height: 13.4375rem;

}
.affiliate-recruitment .item-affilate .icon-affilate {
  width: 4.0625rem;
  height: 4.0625rem;
  margin-bottom: 0.44rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  border-radius: 0.60725rem;
  border: 0.769px solid var(--Palette-Oxford-blue-Light, #e7eef6);
  background: #fff;
  box-shadow: 0px 6.154px 6.154px -3.077px rgba(16, 24, 40, 0.03);
}
.item-affilate .icon-affilate img {
  width: 2.125rem;
  height: 2.125rem;
  object-fit: cover;
}
.affiliate-recruitment .item-affilate span {
  color: var(--text-text-oxford-blue-54, rgba(9, 44, 76, 0.54));
  font-size: var(--font-size-sub2);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.00625rem;
}
.affiliate-recruitment .item-affilate a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-bottom: 0.44rem;
}
.affiliate-recruitment .item-affilate a h3 {
  color: var(--Text-Text-Oxford-Blue-100---Body, var(--12-semi, #092c4c));
  font-size: var(--font-size-button);
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 1.6rem */
  letter-spacing: 0.03125rem;
  margin-right: 0.75rem;
  transition: 0.5s ease-in-out;
}
.affiliate-recruitment .item-affilate a svg {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.affiliate-recruitment .item-affilate:hover a h3 {
  color: var(--Text-Links-Indigo, #1313c1);
  transition: 0.5s ease-in-out;
}
.affiliate-recruitment .item-affilate a svg path {
  transition: 0.5s ease-in-out;
}
.affiliate-recruitment .item-affilate:hover a svg path {
  stroke: var(--Text-Links-Indigo, #1313c1);
  transition: 0.5s ease-in-out;
}
.affiliate-recruitment .item-affilate a:hover svg {
  transform: translateX(0.75rem);
  transition: 0.5s ease-in-out;
}
@media (max-width: 639.98px) {
  .affiliate-recruitment .affiliate-recruitment {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .content-affiliate h2 {
    margin-bottom: 0.75rem;
  }
   .affiliate-recruitment .list-item-affilate {
		grid-template-columns: repeat(1, 1fr);
		margin-top: 1.5rem;
		gap: 1rem;
	}	
  .affiliate-recruitment .item-affilate {
    flex-direction: row;
  }
  .affiliate-recruitment .item-affilate{
		min-height: unset;
	}
  .affiliate-recruitment .icon-affilate {
    margin-bottom: 0 ;
    margin-right: 0.5rem;
  }
	
}
