.faqs {
  max-width: 57.1rem;
  width: 100%;
  margin: auto;
  padding-top: 5rem;
  --bs-border-radius: 1rem;
}
.faqs__header {
  text-align: center;
  margin-bottom: 4rem;
}
.faqs .accordion-item {
  border-radius: 1rem;
  --bs-accordion-bg: #f2f3f8;
  --bs-accordion-btn-padding-y: 1.09rem;
  --bs-accordion-btn-padding-x: 1.5rem;
  --bs-accordion-btn-focus-box-shadow: none;
}
.faqs .accordion-item:not(:last-child) {
  margin-bottom: 0.75rem;
}
.faqs .accordion-item .accordion-button {
  color: var(--text-text-oxford-blue-100-tiitle, var(--12-semi, #092c4c));
  font-weight: 600;
  line-height: 160%; /* 1.6rem */
}
.faqs .accordion-body {
  --bs-accordion-body-padding-y: 0 1.5rem;
  --bs-accordion-body-padding-x: 1.94rem 1.5rem;
  color: var(--text-text-oxford-blue-high-emphasis-active-body-text-1, rgba(9, 44, 76, 0.87));
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
}

@media (max-width:639.98px) {
	.faqs {
		max-width:100%;
		margin-top: var(--60, 3.75rem);
        padding: 0 1.25rem;
	}
	.faqs .accordion-item .accordion-button {
		font-size: 0.875rem;
/* 		--bs-accordion-bg: #FBFBFB; */
	}
	.faqs .accordion-body {
		font-size: 0.875rem;
	}
	.faqs .accordion-item {
		border-radius: 0.625rem;
/* 		--bs-accordion-bg: #FBFBFB; */
	}
	.faqs__header {
		margin-bottom:2rem;
	}
}