#article {
  padding: 4.44rem 0;
  position: relative;
}
#article .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
#article .article__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  width: 100%;
}
#article .article__box .article__item {
  display: flex;
  justify-content: start;
}
#article .article__box .article__item > img {
  width: 35.5rem;
  height: 16.75rem;
  border-radius: 0.625rem;
  object-fit: cover;
  margin-right: 1.5rem;
  display: flex;
  flex-shrink: 0;
}
#article .container > h2 {
  color: var(--Text-Text-Oxford-Blue-100---Body);
  font-size: var(--font-size-H2);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01563rem;
  margin-bottom: 2.5rem;
}
#article .info__top {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
#article .info__top > .info__date {
  color: var(--Text-Text-Oxford-Blue-Disable, rgba(9, 44, 76, 0.38));
  font-size: var(--font-size-caption);
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.025rem;
  margin-right: 1.02rem;
}
#article .info__top > .info__cate {
  display: flex;
  padding: var(--4) var(--8);
  justify-content: center;
  align-items: center;
  border-radius: 0.24725rem;
  background: var(--Palette-Indigo-Blue-Light, #eaedfe);
  color: var(--Text-Text-Oxford-Blue-87-body-text-1);
  font-size: var(--font-size-caption);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.025rem;
  margin-right: 0.51rem;
}
#article .article__info .title {
  color: var(--Text-Text-Oxford-Blue-100---Body);
  font-size: var(--font-size-H5);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* width: 38.0625rem; */
}
#article .article__info .desc {
  color: var(--Text-Text-Oxford-Blue-87-body-text-1);
  font-size: var(--font-size-sub2);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.01563rem;
  margin: 0.75rem 0;
  width: 35.5625rem;
}
#article .btn__loadmore {
  padding: var(--12) var(--24);
  width: fit-content;
  margin-top: 2.5rem;
}
#article .container.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 639.9px) {
  #article {
    padding: 2.5rem 0;
  }
  #article .container > h2 {
    margin-bottom: 2rem;
  }
  #article .article__box {
    gap: 2rem;
  }
  #article .article__box .article__item {
    flex-direction: column;
  }
  #article .article__box .article__item > img {
    width: 100%;
    height: 11.9375rem;
    border-radius: 0.5rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  #article .article__info .desc {
    width: 100%;
    margin: 0.5rem 0;
  }
  #article .info__top > .info__cate {
    margin-right: 1rem;
  }
  #article .btn__loadmore {
    margin-top: 2rem;
    width: 19.3125rem;
    color: var(--text-text-oxford-blue-0);
    text-align: center;
    font-size: var(--font-size-button);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;
  }
	#information .information__content .title{
		margin-right: 0;
	}
}
