.main {
    background: var(--Background-Normal-Linear, linear-gradient(180deg, #f2f7ff 0%, #fff 100%));
}
.contact-banner {
    position: relative;
    height: 34.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-text-oxford-blue-100-tiitle, var(--12-semi, #092c4c));
    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        position: relative;
        margin-bottom: var(--16, 1rem);
    }
    &__subtitle {
        position: relative;
        z-index: 1;
    }
}

.support-form {
    margin-top: 1.5rem;
    margin-bottom: 4.81rem;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.support {
    width: 37.5rem;
    &__title {
        color: var(--12-semi, #092c4c);
        line-height: normal;
        &--social {
            padding-bottom: var(--24, 1.5rem);
        }
    }
    &__content {
        margin-top: var(--12, 0.75rem);
        margin-bottom: var(--48, 3rem);
        color: var(--text-text-oxford-blue-high-emphasis-active-body-text-1, rgba(9, 44, 76, 0.87));
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.5rem */
        display: inline-block !important;
        a {
            display: inline-block !important;
            color: var(--Bagde-Azure-blue, #5282ff);
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }
    }
    &__social-media {
        display: flex;
        padding-top: var(--24, 1.5rem);
        border-top: 1px solid rgba(9, 44, 76, 0.16);
    }
    &__social-item {
        position: relative;
        border-radius: 0.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem;
        &-bg {
            border-radius: 0.375rem;
            position: absolute;
            border: 1px solid #8997c8;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background: linear-gradient(180deg, #c6c4df 0%, #7972b6 100%);
        }
        &-img {
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.contact-form {
    flex: 1;
    background-color: var(--color-ramp-16, rgba(5, 40, 72, 0.16));
    padding: var(--72, 4.5rem) var(--40, 2.5rem);
    border-radius: var(--24, 1.5rem);
    width: 38.8125rem;
    text-align: center;

    &__title {
        margin: auto;
        max-width: 27.25rem;
        margin-bottom: var(--48, 3rem);
        color: var(--text-text-oxford-blue-100-tiitle, var(--12-semi, #092c4c));
    }
    &__groups {
        display: flex;
        .contact-form__field {
            flex: 1;
            &:not(:last-child) {
                margin-right: var(--16, 1rem);
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__field {
        margin-bottom: var(--16, 1rem);
        text-align: left;
        .wpcf7-not-valid-tip {
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 1.5rem */
            transition: 0.3s ease-in-out;
        }
        &--submit {
            position: relative;
            margin-top: var(--48, 3rem);
            display: flex;
            align-items: center;
            justify-content: center;
            .wpcf7-spinner {
                position: absolute;
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: 0.75rem 1rem;
        border: transparent;
        border-radius: var(--4, 0.25rem);
        background: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
    }

    &__textarea {
        resize: vertical;
        height: 100px;
    }

    &__button {
        color: var(--text-text-oxford-blue-0, #fff);

        /* Button/16-M */
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.01563rem;
        padding: 0.75rem;
        border-radius: var(--4, 0.25rem);
        background: var(--Primary-color-Oxfordblue, #092c4c);
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        min-width: 8.0625rem;
        padding: var(--16, 1rem) var(--32, 2rem);
        border: transparent;
        &:hover {
            opacity: 0.8;
        }
    }
}
