.pricing-plan__wrapper {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 640px){
	.uppromote-plan__inner {
		padding:6.25rem 0;
	}
}

.uppromote-plan__inner .headline h2 {
	max-width: 74.49075rem;
	margin:auto;
	text-align:center;
}
.uppromote-plan__inner .headline p {
	max-width: 34.0625rem;
	margin:auto;
	margin-top:var(--16, 1rem);
	text-align:center;
	font-weight: 400;
	font-size: var(--font-size-sub2);
}

.pricing-plan {
  flex: 1;
  max-width: 19.75rem;
  max-height: 22.1875rem;
  width: 100%;
  height: 100%;
  padding: 3.12rem 1.88rem 2.61rem;
  position: relative;
  border-radius: 0.625rem;
  border: 1px solid #dddee8;
  border-left: transparent;
  border-right: transparent;
  background: linear-gradient(180deg, #fff 0%, #f7f6ff 100%);
}
.pricing-plan:not(:last-child) {
  margin-right: 2.81rem;
}
.pricing-plan > * {
  position: relative;
  z-index: 5;
}
.pricing-plan__vector {
  border-radius: 0.625rem;
  position: absolute;
  z-index: 2;
  -o-object-fit: cover;
  object-fit: cover;
  inset: 0;
  width: 100%;
  height: 100%;
}
.pricing-plan__header {
  position: relative;
  padding-bottom: 1rem;
}
.pricing-plan__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.0625rem;
  width: 100%;
  opacity: 0.5;
  background: linear-gradient(
    90deg,
    #c9d2fa 0%,
    #c9d2fa 50%,
    #c9d2fa 85%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.pricing-plan__header > .pricing-plan__price {
  font-size: var(--font-size-H3);
  font-weight: 600;
  color: var(--text-text-oxford-blue-100-tiitle, var(--12-semi, #092c4c));
  margin-right: var(--12);
}
.pricing-plan__header > .pricing-plan__period {
  font-size: var(--font-size-H4);
  color: var(
    --Text-Text-Oxford-Blue-Medium-Emphasis-body-text-2,
    rgba(9, 44, 76, 0.6)
  );
}
.pricing-plan__body {
  margin-bottom: 1.52rem;
  margin-top: 1.52rem;
}
.pricing-plan__body > .pricing-plan__title {
  color: var(--text-text-oxford-blue-100-tiitle, var(--12-semi, #092c4c));
  font-weight: 600;
}
.pricing-plan__body > .pricing-plan__description {
  letter-spacing: 0.03125rem;
  margin-top: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.pricing-plan__footer > .pricing-plan__button {
  border-radius: var(--4, 0.25rem);
  border: 1px solid var(--stroke-color-ramp-16, rgba(9, 44, 76, 0.16));
  width: 100%;
  font-weight: 500;
}
.pricing-plan--popular {
  border: transparent;
  background: linear-gradient(332deg, #11DCFD -24.15%, #2760D0 28.21%, #06068E 72.81%);
  box-shadow: 0px 3.932px 36.174px 0px rgba(100, 72, 231, 0.37);
}
.pricing-plan--popular .pricing-plan__price,
.pricing-plan--popular .pricing-plan__body,
.pricing-plan--popular .pricing-plan__title {
  	color: #fff;
	
}
.pricing-plan--popular .pricing-plan__period {
  opacity: 0.6;
  color: var(--text-text-oxford-blue-0, #fff);
}
.pricing-plan--popular .badge-popular {
  top: 0;
  right: 0;
  transform: translateY(calc(-100% + 1.5rem));
  position: absolute;
  width: 9.8125rem;
  height: 3.375rem;
  z-index: 0;
}
.pricing-plan--popular .pricing-plan__body > .pricing-plan__description {
	color: var(--Text-Ramp-inverse-80, rgba(255, 255, 255, 0.80));
}
.pricing-plan__footer{
	background: transparent;
}
.pricing-plan--popular .overlay-popular{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(332deg, #11dcfd -24.15%, #2760d0 28.21%, #06068e 72.81%);
    z-index: 1;
	border-radius: 0.625rem;
}
.pricing-plan--popular .badge-popular span {
  color: var(--text-text-oxford-blue-0, #fff);
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  top: 0.5rem;
  right: 0.87rem;
  line-height: normal;
}
.pricing-plan--popular .badge-popular img {
  position: absolute;
  object-fit: contain;
  height: 100%;
  right: 0;
  z-index: -1;
}

@media (max-width: 639.98px){
	.pricing-plan--popular .badge-popular img {
		  width: 100%;
	}
	.uppromote-plan__inner .headline p{
		margin-top: 0.75rem;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: 0.03125rem;
		font-size: var(--font-size-sub1);
	}
	.pricing-plan__wrapper{
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	.pricing-plan:not(:last-child){
		margin-right: unset;
	}
	.pricing-plan{
		max-width: unset;
		padding: 2rem 1.25rem 3.25rem 1.25rem;
		height: 18.5625rem;
	}
	.pricing-plan__header > .pricing-plan__price{
		font-size: var(--font-size-H2);
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: var(--letter-spacing-sub1-600);
		color: var(--Text-Text-Oxford-Blue-100---Body);
	}
	.pricing-plan__body{
		margin-bottom: 0.75rem;
   		margin-top: 1rem;
	}
	.pricing-plan__body > .pricing-plan__description{
		color: var(--Text-Text-Oxford-Blue-100---Body);
		font-family: Poppins;
		font-size: var(--font-size-sub1);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: var(--letter-spacing-sub1-400);
	}
	.pricing-plan--popular .pricing-plan__price{
		color: #fff;
		font-size: 1.88294rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.pricing-plan__header > .pricing-plan__period{
		color: var(--Text-Text-Oxford-Blue-72-text-2, rgba(9, 44, 76, 0.72));
	}
	.pricing-plan--popular .pricing-plan__period{
		font-size: 1.32913rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.00831rem;
		color: #fff;
		opacity: 0.8;
	}
	.pricing-plan--popular .pricing-plan__description{
		color: #fff;
	}
	.pricing-plan__header{
		display: flex;
		align-items: center;
	}
	.pricing-plan--popular .badge-popular img{
/* 		rotate: 1 0 0 180deg; */
	}
	.pricing-plan--popular{
		overflow: hidden;
	}
	.pricing-plan--popular .badge-popular{
		transform: translateY(calc(-100% + 2.5rem));
		z-index: 3;
		width: 7.5rem;
	}
	.pricing-plan--popular .badge-popular span{
		top: 1.2rem;
		right: 0.5rem;
	}
	.pricing-plan--popular .pricing-plan__header{
		margin-top: 0.62rem;
	}
	.uppromote-plan{
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;
		background: var(--Background-Normal-F9F9FF);
	}
}