#holbrook .progress-section {
  position: relative;
  height: 0.16131rem;
  /* background: rgba(255, 255, 255, 0.2); */
  bottom: 7.26rem;
  z-index: 1;
}

#holbrook .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

#holbrook .progress {
  height: 100%;
  background-color: #fff;
  width: 0;
  /* transition: width 0.5s; */
}
#holbrook {
  position: relative;
  width: 100%;
}
#holbrook .section-link-btn {
  color: var(--text-text-oxford-blue-0);
}
#holbrook .section-link-btn img {
  filter: none;
}
#holbrook .swiper-slide > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#holbrook .swiper-slide .title {
  width: 55.16131rem;
  color: var(--text-text-oxford-blue-0);
  font-size: var(--font-size-H2);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01563rem;
  margin-right: 12.36rem;
}
#holbrook .swiper-slide .content_top {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#holbrook .swiper-slide > .container {
  padding-top: 6rem;
  min-height: 31.6rem;
  margin-bottom: 4rem;
}
#holbrook .swiper-slide .content_top .content_percent > img {
  width: 3.22581rem;
  height: 3.22581rem;
  border-radius: 50%;
}
.content_percent {
  display: flex;
  align-items: center;
}
#holbrook .swiper-slide .content_top .content_percent > span {
  color: var(--text-text-oxford-blue-0);
  font-size: var(--font-size-H2);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01563rem;
  margin-left: 1rem;
}
#holbrook .swiper-slide .content_top .subtitle {
  color: var(--text-text-oxford-blue-0, #fff);
  font-size: var(--font-size-H5);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
#holbrook .swiper-slide .content_top .content {
  position: relative;
  border-left: 5.161px solid var(--Primary-color-Azure-blue, #5282ff);
  padding: 1.27rem 2.26rem;
}
#holbrook .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#holbrook .images > img {
  /* width: 30.0625rem; */
  width: 100%;
  height: 6.25rem;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.3s;
}
#holbrook .images > img.active {
  opacity: 1;
}
#holbrook .swiper-slide > img.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#holbrook .swiper-slide > .container {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 639px) {
  #holbrook .swiper-slide .title {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  #holbrook .swiper-slide .content_top {
    flex-direction: column;
    align-items: start;
    margin-bottom: 1.12rem;
  }
  #holbrook .swiper-slide > .container {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  #holbrook .swiper-slide .content_top .content {
    padding: 0.81rem 1.86rem 0.12rem;
  }
  #holbrook .swiper-slide .content_top .content_percent > img {
    width: 2.20969rem;
    height: 2.20969rem;
  }
  #holbrook .swiper-slide .content_top .content_percent > span {
    margin-left: 0.75rem;
  }
  #holbrook .swiper-slide .content_top .subtitle {
    margin-top: 0.46rem;
  }
  #holbrook .progress-section {
    border-radius: 2.81419rem;
    height: 0.05631rem;
    bottom: 6.25rem;
  }
  #holbrook .images > img {
    height: 2.25rem;
  }
  #holbrook .progress-bar {
    position: unset;
  }
}
